POSTGRES_USER=admin
POSTGRES_PASSWORD=password123
JWT_SECRET=super-secret-key-123
ENCRYPTION_KEY=32-byte-aes-key-here
NVIDIA_API_KEY=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
ENV=production
